[submodule "libs/zig-wayland"]
    path = libs/zig-wayland
    branch = master
	url = https://github.com/ifreund/zig-wayland.git
[submodule "libs/zig-wlroots"]
    path = libs/zig-wlroots
    branch = master
	url = https://github.com/swaywm/zig-wlroots.git
[submodule "libs/zig-xkbcommon"]
    path = libs/zig-xkbcommon
    branch = master
	url = https://github.com/ifreund/zig-xkbcommon.git
[submodule "libs/zig-pixman"]
    path = libs/zig-pixman
    branch = master
	url = https://github.com/ifreund/zig-pixman.git
